# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.pytest_cache/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.py,cover

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor IDEs
.idea/
.vscode/
*.swp
*.swo

# Application specific cache files
cache_notes.json
